language: minimal

install:
  - curl -fsSL https://deno.land/x/install/install.sh | sh -s v0.3.3
  - export PATH="$HOME/.deno/bin:$PATH"

services:
  - postgresql

before_script:
  - psql -f tests/before_script.sql -U postgres

script:
  - deno test.ts --allow-net --allow-env
  - deno format.ts --allow-run --check