version: '3.8'

services:
  postgres_clear:
    # Clear authentication was removed after Postgres 9
    image: postgres:9
    hostname: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    volumes:
      - ./docker/postgres_clear/data/:/var/lib/postgresql/host/
      - ./docker/postgres_clear/init/:/docker-entrypoint-initdb.d/
    ports:
      - "6000:5432"

  postgres_md5:
    image: postgres:14
    hostname: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    volumes:
      - ./docker/postgres_md5/data/:/var/lib/postgresql/host/
      - ./docker/postgres_md5/init/:/docker-entrypoint-initdb.d/
    ports:
      - "6001:5432"

  postgres_scram:
    image: postgres:14
    hostname: postgres_scram
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
      - POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    volumes:
      - ./docker/postgres_scram/data/:/var/lib/postgresql/host/
      - ./docker/postgres_scram/init/:/docker-entrypoint-initdb.d/
    ports:
      - "6002:5432"

  tests:
    build: .
    command: sh -c "/wait && deno test --unstable -A --jobs"
    depends_on:
      - postgres_clear
      - postgres_md5
      - postgres_scram
    environment:
      - WAIT_HOSTS=postgres_clear:5432,postgres_md5:5432,postgres_scram:5432
      # Wait fifteen seconds after database goes online
      # for database metadata initialization
      - WAIT_AFTER_HOSTS=15
    # Name the image to be reused in no_check_tests
    image: postgres/tests

  no_check_tests:
    image: postgres/tests
    command: sh -c "/wait && deno test --unstable -A --jobs --no-check && exit 1"
    depends_on:
      - tests
    environment:
      - NO_COLOR=true
      - WAIT_HOSTS=postgres_clear:5432,postgres_md5:5432,postgres_scram:5432
      - WAIT_AFTER_HOSTS=15
